<h1>Oh, hello</h1>
<h2>My name is Doa and I'll link you to my old portfolio below.</h2>
<a href="http://doaport.tumblr.com">My Port</a>

<ul>
  <% ['fashion', 'lifestyle', 'commericial'].each do |type| %>
    <li>My port includes the following types of shots: <%= type %></li>
  <% end %>
</ul>